#container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

#board {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid hsl(0, 0%, 75%);
}

#board .row {
    display: flex;
    /* width: 100%; */
    margin: 0;
}

#board .row div {
    --size: 10vmin;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: var(--size);
    height: var(--size);
    color: white;
    font-family: Calibri;
    /* border: 1px solid red; */
}

#board .row div::before {
    content: attr(data-tile-num);
    display: block;
}

#board .row:nth-of-type(even) div:nth-of-type(even),
#board .row:nth-of-type(odd) div:nth-of-type(odd) {
    background-color: black;
}

#board .row:nth-of-type(odd) div:nth-of-type(even),
#board .row:nth-of-type(even) div:nth-of-type(odd) {
    background-color: white;
}

.piece {
    cursor: pointer;
}

@keyframes blink {
    0% {
        filter: brightness(100%)
    }
    50% {
        filter: brightness(75%)
    }
    100% {
        filter: brightness(100%)
    }
}

.piece::after {
    --padding: 5px;
    content: attr(id);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: var(--padding);
    left: var(--padding);
    right: var(--padding);
    bottom: var(--padding);
    /* width: 100%; */
    /* height: 100%; */
    background-color: hsl(305, 100%, 60%);
    /* border: 2px solid blue; */
    border-radius: 50%;
    box-sizing: border-box;
    opacity: .95;
}

.piece.opps::after {
    background-color: rgb(0, 247, 255);
}

.piece.selected::after {
    outline: 2px solid lime;
    animation: blink 1s infinite;
}